{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block header %}
    <header class="bg-light py-3">
        <div class="container text-center">
            <h1>О нас</h1>
        </div>
    </header>
{% endblock %}


{% block main %}
    <div class="container content-section">
        <div class="row">
            <div class="col-md-12">
                <h5>Добро пожаловать в мир вдохновляющих снимков и прекрасных моментов! Мы - команда талантливых фотографов, стремящихся запечатлеть красоту мира во всем его многообразии. Наша миссия - делиться уникальными моментами жизни, запечатлевая великолепие природы, человеческие эмоции и детали повседневной жизни.</h5>
            </div>
            <div class="col-md-12">
                <h5>Мы верим, что каждая фотография способна рассказать историю, вызвать эмоции и вдохновить на новые свершения. Здесь вы найдете широкий выбор изображений - от захватывающих пейзажей и портретов до абстрактных композиций и креативных концепций.</h5>
            </div>
            <div class="col-md-12">
                <h5>Присоединяйтесь к нашему сообществу фотолюбителей и профессионалов, делитесь своими творческими идеями и находите вдохновение в уникальных работах других авторов. Давайте вместе создадим прекрасный мир изображений, которые вдохновляют, удивляют и заставляют нас увидеть мир по-новому!</h5>
            </div>
            <div class="col-md-12">
                <h5>Добро пожаловать на наш фотосток, где каждая фотография - это история, а каждая история - приглашение к новому путешествию в мир визуального искусства.</h5>
            </div>
        </div>
    </div>
{% endblock %}