{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .card-img-top {
            object-fit: cover; /* Изображение будет заполнять контейнер */
            height: 400px; /* Фиксированная высота изображения */
        }

        .fixed-size-img {
            height: 300px; /* Фиксированная высота для похожих фотографий */
        }
    </style>
{% endblock %}
{% block title %}{{ photo.title }}{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="photo-detail text-center mb-5">
            <div class="card mx-auto position-relative" style="width: 60%;">
                <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="card-img-top img-fluid">
                <div class="card-body">
                    <h2 class="card-title">{{ photo.title }}</h2>
                    <p class="card-text">{{ photo.description }}</p>
                    <p class="card-text"><small class="text-muted">Uploaded on: {{ photo.upload_date }}</small></p>
                    <a href="{{ photo.image.url }}" download class="btn btn-primary mt-3">Скачать</a>
                    <a href="{% url 'home' %}" class="btn btn-primary mt-3">На главную</a>
                    {% if request.user == photo.user %}
                        <a href="{% url 'photo_edit' photo.id %}" class="btn btn-primary mt-3">Редактировать</a>
                        <form action="{% url 'photo_delete' photo.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mt-3">Удалить</button>
                        </form>
                        <div class="tags mt-3">
                            <p class="card-text">
                                <strong>Статус модерации:</strong> {{ photo.get_status_display }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="tags mt-3">
                        {% for tag in photo.tags.all %}
                            <a href="{% url 'photo_list' tag.name %}" class="badge badge-info">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if similar_photos %}
            <div class="similar-photos">
                <h3>Похожие фотографии</h3>
                <div class="row">
                    {% for similar_photo in similar_photos %}
                        <div class="col-md-4 mb-4">
                            <a href="{% url 'photo_detail' similar_photo.id %}" class="card-link">
                                <div class="photo card">
                                    <img src="{{ similar_photo.image.url }}" class="card-img-top fixed-size-img" alt="{{ similar_photo.title }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ similar_photo.title }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
